<%= provide(:title, "Help")%>
  <h1>Help</h1>
  <p>
    <a href="https://railstutorial.jp/help">Rails Tutorial help page</a>
    To get help on this sample app, see the
    <a href="https://railstutorial.jp/#ebook">Ruby on Rails Tutorial boook</a>
  </p>
